<p id="notice"><%= notice %></p>
<center>
<br>
<br>
<br>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="heading-section ftco-animate mb-5 text-center">

    <h3>Search Results</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-4 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
          <h5>Episodes:</h5>
            <% if !(@results_e[0])%>
              <h6>No episode found.</h6>
            <% end %>
            <% @results_e.each do |result| %>
                <%= link_to result.name, episode_path(result.id)  %><br>
            <% end %>
        </div>
        <div class="col-md-4 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
          <h5>Characters:</h5>
            <% if !(@results_c[0])%>
              <h6>No character found.</h6>
            <% end %>
            <% @results_c.each do |result| %>
                <%= link_to result.name, character_path(result.id)  %><br>
            <% end %>
        </div>
        <div class="col-md-4 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
          <h5>Locations:</h5>
            <% if !(@results_l[0])%>
              <h6>No location found.</h6>
            <% end %>
            <% @results_l.each do |result| %>
                <%= link_to result.name, location_path(result.id)  %><br>
            <% end %>
        </div>
  </div>
</section>
